<#ftl ns_prefixes={"urn":"urn:toatech:agent"}>
<urn:drop_message xmlns:urn="urn:toatech:agent">
	<urn:message_response>
		<urn:description> </urn:description>
	</urn:message_response>
</urn:drop_message>
