<#ftl ns_prefixes={"urn":"urn:toatech:agent"}>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:toatech:agent">
   <soapenv:Header/>
   <soapenv:Body>
      <urn:send_message>
		${doc["urn:send_message/urn:messages/urn:message[2]/urn:body"]}
 	  </urn:send_message>
   </soapenv:Body>
</soapenv:Envelope>